/* body {
    margin: 0;
    padding: 0;
} */

/* navbar */

.root-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
}

.navbar-container {
    grid-column: span 12;
}

.menu-navbar-container {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000;
    align-items: center;
    align-content: center;
    color: #FFF;
}

div.hamburger-container {
    display: block;
    background: #000;
}

@media screen and (min-width:500px) {
    div.hamburger-container {
        display: none;
        background: #000;
    }
    div.menu-navbar-container {
        grid-column: span 12;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        background-color: #000;
        align-items: center;
        color: #FFF;
    }
}

img.hamburger {
    width: 40px;
    height: 40px;
    margin: 5px;
    filter: invert(100%);
}

.menu-navbar-container>span {
    font-family: 'Itim', cursive;
    margin: 5px;
}

/* index */

.index-container {
    min-height: calc(90vh);
    display: grid;
    background: hsl(0, 0%, 90%);
    grid-column: span 12;
    grid-template-columns: repeat(12, 1fr);
}

.index-container>.header {
    grid-row: 2/3;
    grid-column: span 12;
    justify-self: center;
    font-size: larger;
}

/* articles */

.articles-container {
    grid-column: span 12;
    display: grid;
    grid-template-rows: 100px 500px 800px;
    grid-template-columns: repeat(12, 1fr);
}

.hilight, .list-news-card {
    grid-column: span 6;
    background: rgb(153, 152, 152);
}

.banner {
    grid-column: span 12;
    background: #242526;
}

.list-string-news {
    grid-column: span 12;
    background: #5a5f64;
}

/* create */

.create-container {
    grid-column: span 12;
    display: grid;
    border-radius: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    background-color: hsl(0, 0%, 90%);
    color: black;
    padding: 10px;
}

.create-header {
    grid-column: span 12;
    grid-row: span 1;
    height: 40px;
    align-self: center;
    border-radius: 5px;
    font-size: large;
    background: #FFF;
}

.create-content {
    grid-column: 1/13;
    background-color: hsla(0, 0%, 97%, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 50px;
}

.create-editable {
    grid-column: span 12;
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    background-color: hsla(0, 0%, 97%, 1);
}

.create-header:empty:not(:focus):before {
    font-size: 30px;
    content: attr(placeholder);
}

.create-editable:empty:not(:focus):before {
    font-size: 20px;
    content: attr(placeholder);
}

.create-tools {
    grid-column: span 12;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.create-tool {
    background-color: hsla(0, 0%, 90%, 1);
    border-color: black;
    border-style: double;
    width: 100%;
    height: 50px;
}

.footer-container {
    grid-column: span 12;
    background: #000;
    color: #FFF;
    height: 50px;
}